div {
    display: flex;
    justify-content: center; 
    align-items: center; 
    right: 0px; 
    top: 0px; 
    border-bottom-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%; 
    border-top-left-radius: 50%; 
    background-color: rgb(71, 70, 70); 
    height: 40px;
    position: relative;
}

a {
    border-bottom-left-radius: 50%; 
    border-top-right-radius: 50%; 
    border-bottom-right-radius: 50%; 
    border-top-left-radius: 50%;
}

.btn:hover {
    background-color: #1639D6 ;
    border: 3px white solid;
}