<header>
    <!--- NavBar --->
    <nav class="navbar navbar-expand-lg navbar-light bg-black">
        <div class="container-fluid justify-content-between">

            <!--- Left Elements --->
            <div class="d-flex">
                <a class="navbar-item d-sm-flex d-none aling-items-center" 
                   href="https://argentinaprograma.inti.gob.ar/">
                    <img src="./assets/images/APLogo.png" 
                         alt="Argentina Programa Logo">
                </a>
                <a class="navbar-item w-auto my-auto d-none d-sm-flex" 
                   href="https://argentinaprograma.inti.gob.ar/">
                   #YoProgramo
                </a>
            </div>

            <!--- Center Elements ---> 
            <a class="navbar-brand flex-row d-md-flex" href="">
                <img src="assets\images\brand.png" alt="Full Stack Jr. Logo">
            </a>

            <!--- Right Elements --->
           <button class="navbar-toggler"
                   type="button"
                   (click)="isCollapsed = ! isCollapsed"
                   aria-controls="navbarToggler"
                   aria-label="Toggle navigation"
                   [attr.aria-expanded]="!isCollapsed"
            >
                <fa-icon *ngIf="isCollapsed" icon="bars"></fa-icon>
                <fa-icon *ngIf="!isCollapsed" icon="remove"></fa-icon>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarToggler"
                 [ngbCollapse]="isCollapsed"
                 #collapsed="ngbCollapse"
            > 
                <ul class="navbar-nav">
                    <li class="nav-item me-2 mb-2">
                        <a class="btn" role="button" aria-current="page" href="https://github.com/xMatiSDx"> 
                            <fa-icon [icon]="faGithub"></fa-icon> 
                            <span class="d-xl-none d-lg-none d-md-none"> GitHub
                            </span>
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-2 ">
                        <a class="btn" role="button" href="https://twitter.com/matiarias_"> 
                            <fa-icon [icon]="faTwitter"></fa-icon>
                            <span class="d-xl-none d-lg-none d-md-none"> Twitter
                            </span>
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-2">
                        <a class="btn" role="button" aria-current="page" href="https://www.linkedin.com/in/matias-ezequiel-arias-4bb27621a/"> 
                            <fa-icon [icon]="faLinkedIn"></fa-icon> 
                            <span class="d-xl-none d-lg-none d-md-none"> LinkedIn
                            </span>
                        </a>
                    </li>
                    <li class="nav-item me-2 mb-2">
                        <a class="btn" role="button" href="https://www.instagram.com/matiasezequielarias_/"> 
                            <fa-icon [icon]="faInstagram"></fa-icon>
                            <span class="d-xl-none d-lg-none d-md-none"> Instagram
                            </span>
                        </a>
                    </li>
                    <app-login-button></app-login-button>
                </ul>
            </div>
        </div>
    </nav>
</header>