nav.navbar .navbar-brand  img {
    max-height: 70px;
}

nav.navbar .navbar-item  img {
    max-height: 70px ;
}

/*--- #YoProgramo---*/
nav.navbar div a.navbar-item {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 5px;
    text-decoration: none;
  }

.navbar {
    padding: 0px;
    align-items: center;
}

.navbar-collapse{
    flex-grow: 0;
}

fa-icon {
    font-size: 30px;
    color: white;
}

.btn:hover {
    color: #1639D6;
    background: #1639D6;
}

/*--- RESPONSIVE CSS in SMALL SCREENS---*/

.navbar-nav li span {
    color: white;
    font-weight: bold;
    font-size: 25px
}

@media screen and (min-width: 300px) {
    .nav-item {
      display: inline-block;
      max-width: 100%;
      text-align: center;
   }
}