<div class="carousel-indicators" *ngFor="let data of skills">
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" [class.active]="active"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3"
      aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4"
      aria-label="Slide 5" ></button>
</div>