<section class="education">
    <!--- EDUCATION --->
    <div class="container">
        <div class="row section-title h1" style="display: flex; flex-direction: row;">
            <div class="col-lg-12" style="display: flex; flex-direction: column;">
                <div class="title" style="display: flex ; position: relative; text-align: center; width: 100%; align-content: center; align-items: center;">
                    <span style="width: 100%;">
                        <b>EDUCATION</b>
                    </span>
                    <!--- EDUCATION ADD BUTTON --->
                    <app-edit-button type="edit-box" (btnClick)="editContent()" figure="add"></app-edit-button>
                </div>
                <!--- BLUE LINE --->
                <div class="after"></div> 
            </div>
        </div>
        <!--- EDUCATION ENUM --->
        <app-education-items></app-education-items>
    </div>
</section>