section {
    background-color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.education .container{
    background-color:  #111111;
    border-radius: 15px;
}

.title {
    font-size: 40px;
    color: white;
    text-align: center;
}

/*--- BLUE LINE BETWEEN NAME AND ABOUT ---*/
div.section-title .after:after {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background: #1639D6;
    position: relative;
    flex-wrap: nowrap!important;
}