fa-icon {
    font-size: 30px;
    color: white;
}

.btn:hover {
    color: #1639D6;
    background: #1639D6;
}


/*--- RESPONSIVE CSS in SMALL SCREENS---*/

li span {
    color: white;
    font-weight: bold;
    font-size: 25px
}

@media screen and (min-width: 300px) {
    .nav-item {
      display: block;
      max-width: 100%;
      text-align: center;
   }
}