<section class="skills">
  <div class="container">
    <div class="row section-title h1" style="display: flex; flex-direction: row;">
      <div class="col-lg-12" style="display: flex; flex-direction: column;">
        <div class="title"
          style="display: flex ; position: relative; text-align: center; width: 100%; align-content: center; align-items: center;">
          <span style="width: 100%;">
            <b>HARD AND SOFT SKILLS</b>
          </span>
          <!--- EXPERIENCE ADD BUTTON --->
          <div
            style="display: flex;justify-content: center;right: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
            <a class="btn" role="button" href="#"
              style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
              <fa-icon [icon]="faAdd" style="color:aliceblue"></fa-icon>
            </a>
          </div>
        </div>
        <!--- BLUE LINE --->
        <div class="after"></div>
      </div>
    </div>
    <!--- SKILLS ENUM --->
    <!-- d-xl-none d-lg-none d-md-none -->
    <div id="carouselIndicators" class=" carousel slide" data-bs-ride="true">
      <app-sliders></app-sliders>
      <div class="carousel-inner">
        <app-skills-items class="d-block w-100"></app-skills-items>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>