<section class="skills">
    <div class="container">
        <div class="row section-title h1" style="display: flex; flex-direction: row;">
            <div class="col-lg-12" style="display: flex; flex-direction: column;">
                <div class="title"
                    style="display: flex ; position: relative; text-align: center; width: 100%; align-content: center; align-items: center;">
                    <span style="width: 100%;">
                        <b>HARD AND SOFT SKILLS</b>
                    </span>
                    <!--- EXPERIENCE ADD BUTTON --->
                    <div
                        style="display: flex;justify-content: center;right: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                        <a class="btn" role="button" href="#"
                            style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                            <fa-icon [icon]="faAdd" style="color:aliceblue"></fa-icon>
                        </a>
                    </div>
                </div>
                <!--- BLUE LINE --->
                <div class="after"></div>
            </div>
        </div>
        <!--- SKILLS ENUM --->
        <div class="itemsContainer" style="display: flex; justify-content: center; width: 100%;">
            <!-- <div id="skillCarousel d-flex" class="carousel slide" data-bs-ride="true" style="width: 100%;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#skillCarousel" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#skillCarousel" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#skillCarousel" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#skillCarousel" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div> -->
                <div class="carousel-inner d-flex" style="justify-content: space-around; flex-wrap: wrap;">
                    <div id="item" class="carousel-item active">
                        <div class="card">
                            <div class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>50<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">HTML</h2>
                            </div>
                        </div>
                    </div>
                    <div id="item" class="carousel-item">
                        <div class="card">
                            <div class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>90<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">HTML</h2>
                            </div>
                        </div>
                    </div>
                    <div id="item" class="carousel-item">
                        <div class="card">
                            <div class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>35<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">HTML</h2>
                            </div>
                        </div>
                    </div>
                    <div id="item" class="carousel-item">
                        <div class="card">
                            <div class="box">
                                <div class="percent">
                                    <svg>
                                        <circle cx="70" cy="70" r="70"></circle>
                                        <circle cx="70" cy="70" r="70"></circle>
                                    </svg>
                                    <div class="number">
                                        <h2>20<span>%</span></h2>
                                    </div>
                                </div>
                                <h2 class="text">HTML</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <button class="carousel-control-prev" type="button" data-bs-target="#skillCarousel"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#skillCarousel"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> -->
        </div>
    </div>
</section>