.modal-content {
    background-color: black;
    border: 3px white solid;
}

.close:hover {
    color: red;
}

.border-danger {
    border-color: red;
}

.error {
    color: red;
}

.modal-header {
    border-bottom: none;
}

.btn-primary {
    background-color: #1639D6;
    border: #1639D6;
   }