<section class="experience">
    <!--- EXPERIENCE --->
    <div class="container">
        <div class="row section-title" style="display: flex; flex-direction: row;">
            <div class="col-lg-12" style="display: flex; flex-direction: column;">
                <div style="display: block ; position: relative; text-align: center; width: 100%;">
                    <span style="width: 100%;">
                        <b>EXPERIENCE</b>
                    </span>
                    <!--- EXPERIENCE ADD BUTTON --->
                    <div style="display: flex;justify-content: center;right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                        <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                            <fa-icon [icon]="faAdd" style="color:aliceblue"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <!--- BLUE LINE --->
            <div class="after" style="display:flex; align-items:center ;"></div> 
        </div>        
    </div>
    <!--- EXPERIENCES ENUM --->
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="display:flex; align-self:center; justify-content: center; margin-top: 5px; margin-bottom: 10px;">
                <div style="display: block; position:relative">
                    <picture>
                        <img src="./assets/images/profilepicture.jpg" style=" border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; height: 168px; width: 168px">
                    </picture>
                    <!--- CHANGE EXPERIENCE PICTURE --->
                    <div style="top: 135px; right: 20px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                        <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                            <fa-icon [icon]="faCamera" style="color:aliceblue"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <!--- EXPERIENCES --->
            <div class="col-lg-9 section-title" style="align-content: center; display: flex; flex-direction: column; ">
                <!--- EXPERIENCE NAME --->
                <div class="row h1" style="display: flex; flex-wrap: nowrap;">
                    <div class="col-lg-12" style="display:flex; justify-content: center; align-content: center; flex-direction: column;">
                        <div style="display: block; position: relative; text-align: start; width: 100%;">
                            <span style="width: 100%;">
                                <b style="color: white;"> TRES MARIAS SA</b>
                            </span>
                            <!--- EXPERIENCE EDIT BUTTON --->
                            <div style="display: flex;justify-content: center;right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                    <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                </a>
                            </div>
                            <!--- EXPERIENCE DELETE BUTTON --->
                            <div style="display: flex;justify-content: center;right: 50px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                    <fa-icon [icon]="faRemove" style="color:aliceblue;"></fa-icon>
                                </a>
                            </div>
                        </div> 
                        <div style="display: block; position: relative; text-align: start; width: 100%">
                            <span>
                                <b>06/2021 - ACTUALIDAD</b>
                            </span>        
                        </div>
                        <div style="display: block; position: relative; text-align: start; width: 100%">
                            <span>
                                <b>SECRETARIO ADMINISTRATIVO, NIVEL MEDIO</b>
                            </span>        
                        </div>
                    </div>
                </div>
                <!--- EXPERIENCE DESCRIPTION --->
                <div class="row" style="display:flex; flex-wrap: nowrap;">
                    <div class="col-lg-12"  style="align-content: center; display:flex; justify-content: center;">
                        <div style="display: block; position: relative; text-align: justify;">
                            <span>    
                                <p style="color: white;">Descripción de Tareas/Responsabilidades: Tareas básicas administrativas y de contabilidad. Gestión de documentación. Elaboración de Informes, planificación financiera. Conducción y toma de decisiones. Facturación y gestión de cobros y pagos. Manejo de transacciones financieras. Racionalización de gastos. Relación directa con clientes, proveedores y entidades financieras.
                                    Observaciones: Buena disposición para el aprendizaje de todo tipo de tareas administrativas. Conocimiento en programas de gestión. Comprometido y responsable ante la iniciativa empresarial velando por sus intereses. Capacidad de respuesta en situaciones de tensión. Resolución de conflictos. Participación activa en la junta directiva como asistente de gerencia. Responsable del seguimiento de presupuestos y elaboración de informes de los egresos e ingresos de la empresa.                                    
                                </p>
                            </span>    
                            <!--- EXPERIENCE DESCRIPTION TEXT EDIT BUTTON --->
                            <div style="right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                    <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="display:flex; align-self:center; justify-content: center; margin-top: 5px; margin-bottom: 10px;">
                <div style="display: block; position:relative">
                    <picture>
                        <img src="./assets/images/profilepicture.jpg" style=" border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; height: 168px; width: 168px">
                    </picture>
                    <!--- CHANGE PROFILE PICTURE --->
                    <div style="top: 135px; right: 20px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                        <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                            <fa-icon [icon]="faCamera" style="color:aliceblue"></fa-icon>
                        </a>
                    </div>
                </div>
            </div>
            <!--- PROFILE PRESENTATION --->
            <div class="col-lg-9 section-title" style="align-content: center; display: flex; flex-direction: column; ">
                <!--- PROFILE NAME --->
                <div class="row h1" style="display: flex; flex-wrap: nowrap;">
                    <div class="col-lg-12" style="display:flex; justify-content: center; align-content: center; flex-direction: column;">
                        <div style="display: block; position: relative; text-align: start; width: 100%;">
                            <span style="width: 100%;">
                                <b style="color: white;"> TRES MARIAS SA</b>
                            </span>
                            <!--- PROFILE NAME EDIT BUTTONS --->
                            <div style="display: flex;justify-content: center;right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                    <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                </a>
                            </div>
                        </div> 
                        <div style="display: block; position: relative; text-align: start; width: 100%">
                            <span>
                                <b>06/2021 - ACTUALIDAD</b>
                            </span>        
                        </div>
                        <div style="display: block; position: relative; text-align: start; width: 100%">
                            <span>
                                <b>SECRETARIO ADMINISTRATIVO, NIVEL MEDIO</b>
                            </span>        
                        </div>
                    </div>
                </div>
                <!--- EXPERIENCE DESCRIPTION --->
                <div class="row" style="display:flex; flex-wrap: nowrap;">
                    <div class="col-lg-12"  style="align-content: center; display:flex; justify-content: center;">
                        <div style="display: block; position: relative; text-align: justify;">
                            <span>    
                                <p style="color: white;">Descripción de Tareas/Responsabilidades: Tareas básicas administrativas y de contabilidad. Gestión de documentación. Elaboración de Informes, planificación financiera. Conducción y toma de decisiones. Facturación y gestión de cobros y pagos. Manejo de transacciones financieras. Racionalización de gastos. Relación directa con clientes, proveedores y entidades financieras.
                                    Observaciones: Buena disposición para el aprendizaje de todo tipo de tareas administrativas. Conocimiento en programas de gestión. Comprometido y responsable ante la iniciativa empresarial velando por sus intereses. Capacidad de respuesta en situaciones de tensión. Resolución de conflictos. Participación activa en la junta directiva como asistente de gerencia. Responsable del seguimiento de presupuestos y elaboración de informes de los egresos e ingresos de la empresa.                                    
                                </p>
                            </span>    
                            <!--- EXPERIENCE DESCRIPTION TEXT EDIT BUTTON --->
                            <div style="right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                    <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>