<section class="experience">
    <!--- EXPERIENCE --->
    <div class="container">
        <div class="row section-title h1" style="display: flex; flex-direction: row;">
            <div class="col-lg-12" style="display: flex; flex-direction: column;">
                <div class="title" style="display: flex ; position: relative; text-align: center; width: 100%; align-content: center; align-items: center;">
                    <span style="width: 100%;">
                        <b>EXPERIENCE</b>
                    </span>
                    <!--- EXPERIENCE ADD BUTTON --->
                    <div style="display: flex;justify-content: center;right: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                        <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                            <fa-icon [icon]="faAdd" style="color:aliceblue"></fa-icon>
                        </a>
                    </div>
                </div>
                <!--- BLUE LINE --->
                <div class="after"></div> 
            </div>
        </div>
        <!--- EXPERIENCES ENUM --->
        <div id="item" class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="picture">
                        <picture>
                            <img src="./assets/images/profilepicture.jpg">
                        </picture>
                        <!--- CHANGE EXPERIENCE PICTURE --->
                        <div style="top: 135px; right: 20px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                            <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                <fa-icon [icon]="faCamera" style="color:aliceblue"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <!--- EXPERIENCES --->
                <div class="col-lg-9 section-title">
                    <!--- EXPERIENCE TITLE --->
                    <div class="row h1">
                        <div class="col-lg-12">
                            <div class="title">
                                <span>
                                    <b> TRES MARIAS SA</b>
                                </span>
                                <!--- EXPERIENCE EDIT BUTTON --->
                                <app-edit-button></app-edit-button>
                                <!--- EXPERIENCE DELETE BUTTON --->
                                <div
                                    style="display: flex;justify-content: center; align-items: center; right: 50px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                    <a class="btn" role="button" href="#"
                                        style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                        <fa-icon [icon]="faRemove" style="color:aliceblue;"></fa-icon>
                                    </a>
                                </div>
                            </div>
                            <div style="display: block; position: relative; text-align: start; width: 100%; font-size: 20px;">
                                <span>
                                    <b>06/2021 - ACTUALIDAD</b>
                                </span>
                            </div>
                            <div style="display: block; position: relative; text-align: start; width: 100%; font-size: 20px;">
                                <span>
                                    <b>SECRETARIO ADMINISTRATIVO, NIVEL MEDIO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--- EXPERIENCE DESCRIPTION --->
                    <div class="row description">
                        <div class="col-lg-12">
                            <div class="text">
                                <span>
                                    <p> Tareas básicas
                                        administrativas y de contabilidad. Gestión de documentación. Elaboración de Informes,
                                        planificación financiera. Conducción y toma de decisiones. Facturación y gestión de
                                        cobros y pagos. Manejo de transacciones financieras. Racionalización de gastos. Relación
                                        directa con clientes, proveedores y entidades financieras.
                                        Observaciones: Buena disposición para el aprendizaje de todo tipo de tareas
                                        administrativas. Conocimiento en programas de gestión. Comprometido y responsable ante
                                        la iniciativa empresarial velando por sus intereses. Capacidad de respuesta en
                                        situaciones de tensión. Resolución de conflictos. Participación activa en la junta
                                        directiva como asistente de gerencia. Responsable del seguimiento de presupuestos y
                                        elaboración de informes de los egresos e ingresos de la empresa.
                                    </p>
                                </span>
                                <!--- EXPERIENCE DESCRIPTION TEXT EDIT BUTTON --->
                                <div
                                    style="right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                    <a class="btn" role="button" href="#"
                                        style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                        <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="item" class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="picture">
                        <picture>
                            <img src="./assets/images/profilepicture.jpg">
                        </picture>
                        <!--- CHANGE EXPERIENCE PICTURE --->
                        <div style="top: 135px; right: 20px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                            <a class="btn" role="button" href="#" style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                <fa-icon [icon]="faCamera" style="color:aliceblue"></fa-icon>
                            </a>
                        </div>
                    </div>
                </div>
                <!--- EXPERIENCES --->
                <div class="col-lg-9 section-title">
                    <!--- EXPERIENCE TITLE --->
                    <div class="row h1">
                        <div class="col-lg-12">
                            <div class="title">
                                <span>
                                    <b> TRES MARIAS SA</b>
                                </span>
                                <!--- EXPERIENCE EDIT BUTTON --->
                                <app-edit-button></app-edit-button>
                                <!--- EXPERIENCE DELETE BUTTON --->
                                <div
                                    style="display: flex;justify-content: center;right: 50px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                    <a class="btn" role="button" href="#"
                                        style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                        <fa-icon [icon]="faRemove" style="color:aliceblue;"></fa-icon>
                                    </a>
                                </div>
                            </div>
                            <div style="display: block; position: relative; text-align: start; width: 100%; font-size: 20px;">
                                <span>
                                    <b>06/2021 - ACTUALIDAD</b>
                                </span>
                            </div>
                            <div style="display: block; position: relative; text-align: start; width: 100%; font-size: 20px;">
                                <span>
                                    <b>SECRETARIO ADMINISTRATIVO, NIVEL MEDIO</b>
                                </span>
                            </div>
                        </div>
                    </div>
                    <!--- EXPERIENCE DESCRIPTION --->
                    <div class="row description">
                        <div class="col-lg-12">
                            <div class="text">
                                <span>
                                    <p>Descripción de Tareas/Responsabilidades: Tareas básicas
                                        administrativas y de contabilidad. Gestión de documentación. Elaboración de Informes,
                                        planificación financiera. Conducción y toma de decisiones. Facturación y gestión de
                                        cobros y pagos. Manejo de transacciones financieras. Racionalización de gastos. Relación
                                        directa con clientes, proveedores y entidades financieras.
                                        Observaciones: Buena disposición para el aprendizaje de todo tipo de tareas
                                        administrativas. Conocimiento en programas de gestión. Comprometido y responsable ante
                                        la iniciativa empresarial velando por sus intereses. Capacidad de respuesta en
                                        situaciones de tensión. Resolución de conflictos. Participación activa en la junta
                                        directiva como asistente de gerencia. Responsable del seguimiento de presupuestos y
                                        elaboración de informes de los egresos e ingresos de la empresa.
                                    </p>
                                </span>
                                <!--- EXPERIENCE DESCRIPTION TEXT EDIT BUTTON --->
                                <div
                                    style="right: 0px; bottom: 0px; position: absolute; border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%; background-color: rgb(71, 70, 70); height: 40px;">
                                    <a class="btn" role="button" href="#"
                                        style="border-bottom-left-radius: 50%; border-top-right-radius: 50%; border-bottom-right-radius: 50%; border-top-left-radius: 50%;">
                                        <fa-icon [icon]="faPencil" style="color:aliceblue"></fa-icon>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>